.App {
  text-align: center;
  padding: 20px;
}

.team-section {
  display: flex;
  justify-content: center; /* Center horizontally */
  gap: 20px; /* Spacing between team slots */
  flex-wrap: wrap; /* Allow wrapping for smaller screens */
  margin: 20px auto;

}

.counter-summary {
  max-width: 280px;
  margin: 0 auto;
}

.pokemon-coverage {
  grid-column: span 2;
}

@media (max-width: 768px) {
  .analysis-section {
    grid-template-columns: 1fr;
  }
}

.footer {
  margin-top: 20px;
  font-size: 0.8em;
  color: gray;
}

.footer a {
  color: gray;
}

.copy-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.copy-link-button {
  align-items: center;
  background-color: #333;
  border-radius: 50%;
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 13px;
  height: 30px;
  justify-content: center;
  margin-right: 10px;
  padding: 10px;
  width: 30px;
}

.copy-link-button:hover {
  background-color: #555;
}
